.contenedor-menuPrincipal{
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  position: relative;


  /* Los div Breadcrumb */
  > div.dmk-breadcrumbv1{

    background-color: #1B3C71;
    min-height: 10px;
    max-height: 100%;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px 12px;
    padding-left: 22px;
    line-height: 140%;
    font-size: 12px;
    position: relative;
    cursor:pointer;


    &:after {
      content: "";
      display: block;
      background-color: transparent;
      position: absolute;
      z-index: 1;
      top: 0;
      right: -14px;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 0 18px 14px;
      border-color: transparent transparent transparent #1B3C71;
    }

    &:before {
      content: "";
      display: block;
      background-color: transparent;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 0 18px 14px;
      border-color: transparent transparent transparent #f5f5f5;
    }

    &:hover {
      background-color: #ed7203;
      &:after{

        border-color: transparent transparent transparent #ed7203;
      }
    }

  }

  > div.dmk-breadcrumbv1:first-child{
    border-left:#ed7203 solid 3px;
    margin-left: 10px;
    padding-left:12px;

    &:before{
      display: none;
    }
  }


  > div.dmk-breadcrumbv1.activo{
    background-color: #29abe2;
    &:after {
      border-color: transparent
      transparent
      transparent
      #29abe2;
    }

    &:hover{
      background-color: #ed7203;
      &:after{
        border-color: transparent transparent transparent #ed7203;
      }
    }
  }

  div.dmk-breadcrumbv1:hover div.group-select-menu{
    display: block;
  }
  /* desplegable del Menu */
   div.group-select-menu{
     display:none;
     position: absolute;
     z-index: 2;
     background-color: white;
     color: #1B3C71;
     top: 100%;
     box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
     border-radius: 3px;
     padding: 10px;
     min-width: 240px;
     left: -3px;
  }

  .dmk-select-cont{
    vertical-align: middle;
    .dmk-input-select{
      cursor:pointer;
    }
    .circulo-m {
      border-radius:50%;
      background-color: #ed7203;
      display: inline-block;
      padding:5px;
      color:white;
      width: 36px;
      text-align: center;
    }

    .texto-itemSele{
      background-color: #ed7203;
      color:white;
      padding:5px 15px;
      padding-left:15px;
      display: inline-block;
      margin-left:-10px;
      font-size: 12px;
      border-radius: 2px;
      min-width:160px;
      position: relative;

      &:after{
        content: "keyboard_arrow_down";
        position: absolute;
        right: 4px;
        top:50%;
        transform: translate(0, -50%);
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
      }
    }

    .dmk-select-lista{
      list-style: none;
      margin:0;
      margin-top:5px;
      padding:5px;
      background: #f5f5f5;
      position: relative;

      &:after{
        content: "search";
        color:#1B3C71;
        position: absolute;
        right: 8px;
        top:8px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
      }

      input {
        border:none;
        font-size: 12px;
        width: 100%;
        padding: 3px 5px;
        padding-right: 25px;
        position: relative;


        &:focus{
          outline:solid 1px #ed7203;
          outline-offset: 0px;
        }
      }
      ul{
        list-style: none;
        padding:0;
      }
      li {
        font-size: 12px;
        padding:5px;
        cursor: pointer;
        &:hover{
          background-color: #1B3C71;
          color: white;
        }

      }

    }

  }

}

