<div class="col contenedor-menuPrincipal">
  <div class="dmk-breadcrumbv1">DELITOS</div>
  <div class="dmk-breadcrumbv1">POLICIA NACIONAL DEL PERú</div>
  <div class="dmk-breadcrumbv1">DENUNCIA DE DELITOS</div>

  <div class="group-select-menu">
    <div class="dmk-select-cont">
      <div class="dmk-input-select">
        <div class="circulo-m">1.</div>
        <div class="texto-itemSele">DELITOS</div>
      </div>

      <ul class="dmk-select-lista">
        <input type="search">
        <li>DELITOS</li>
        <li>FALTAS</li>
        <li>VICTIMAS</li>
      </ul>
    </div>
  </div>
</div>


