.table-container {
	padding-top: 1em;
	padding-bottom: 1em;
}

.drag_container {
	width: 100%;
	
}

.container {
	min-height: 100%;
}

.wrapper {
	border: solid;
}

.pool {
	width: 100%;
}

.columns {
	width: 100%;
	min-height: 120px;
}

.rows {
	max-width: 20%;
}

.table {
	width: 80%;
}

.pvtAxisContainer {
    display: none;
}

.dimension_box {
	cursor: move;
    background-color: #009ae0;
    border: 1px solid #ddd;
    padding: 5px 7px;
    white-space: nowrap;
    border-radius: 5px;
    border-style: dashed;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
}