<div class="table-container">

	<button (click)="run()">RUN</button>

	<div class="drag_container">
		<div class=" row pool contItwaiting">
			<div class="container " dragula="MANY_ITEMS" [(dragulaModel)]='pool'>
				<app-filter-input *ngFor='let dimension of pool'
					[name]="dimension.name"
					[label]="dimension.label"
					[parent]="dimension.parent"
					[options]="dimension.options"
					[filters]="filters">
				</app-filter-input>
			</div>
		</div>
		<div class="row columns contItactive">
			<div class="container " dragula="MANY_ITEMS" [(dragulaModel)]='colsArray'>
				<app-filter-input *ngFor='let dimension of colsArray'
					[name]="dimension.name"
					[label]="dimension.label"
					[parent]="dimension.parent"
					[options]="dimension.options"
					[filters]="filters">
				</app-filter-input>
			</div>
		</div>

		<div class="row m-0" >
			<div class=" col rows contItactivecol">
				<div class="container" dragula="MANY_ITEMS" [(dragulaModel)]='rowsArray'>
					<app-filter-input *ngFor='let dimension of rowsArray'
						[name]="dimension.name"
						[label]="dimension.label"
						[parent]="dimension.parent"
						[options]="dimension.options"
						[filters]="filters">
					</app-filter-input>
				</div>
			</div>
			<div class="col table">
				<div id="pivot"></div>
				<div *ngIf="!data"><p>Cargando...</p></div>
			</div>
		</div>
	</div>

</div>
