<div class="dimension_box" [ngClass]="show_options ? 'optOpen':''">
	<div class="label" [class.filtered]="!all_selected">{{ label }}
		<span class="control"(click)="toggleOptions()">
			<i *ngIf="!show_options" class="material-icons">keyboard_arrow_down</i>
			<i *ngIf="show_options" class="material-icons">close</i>
		</span>
	</div>

	<div class="flotarListaDimension" *ngIf="show_options">
		<div class="search">
			<input type="search" placeholder="Buscar..." [(ngModel)]="search_text">
		</div>
		<div class="options" *ngIf="show_options">
			<div *ngFor='let opt of getOptions()'>
			<input type="checkbox" [(ngModel)]=opt.selected (change)="update_filters()"> {{ opt.label }}
			</div>
		</div>
		<div *ngIf="show_options" style="padding-top: 10px;">
			<button (click)="check_all()">Todos</button>
			<button (click)="uncheck_all()">Ninguno</button>
		</div>
	</div>

</div>
