
<div class="herramientas">

  <button (click)="btnResetPeru($event)" class="btnPeru" > </button>
  <button (click)="btnAddGraphic($event)" class="btnExtent" id="Extent" >
    <i class="material-icons"> aspect_ratio </i>
  </button>

  <!--<input type="text" list="staticUserIds" />-->
  <datalist id="staticUserIds">
    <option>1000</option>
    <option>1100</option>
    <option>1110</option>
    <option>1200</option>
    <option>1220</option>
    <option>1340</option>
    <option>1567</option>
    <option>1678</option>
    <option>1789</option>
  </datalist>

</div>
