
<div class="herramientas">

  <button (click)="btnResetPeru($event)" class="btnPeru" > </button>
  <button  class="btnExtent" >
    <i class="material-icons" (click)="btnAddGraphic($event)"   id="Extent"> aspect_ratio </i>
  </button>

  <!--<input type="text" (keyup)="searchUbicacion($event)" list="ubicacionList"  (ngModelChange)="selectedUbicacion($event)" />-->
  <!--<datalist id="ubicacionList">
    <option *ngFor="let item of itemsUbicacion" [ngValue]="item" >{{item.text}} </option>
  </datalist>-->
  <input type="text" (keyup)="searchUbicacion($event)"   (ngModelChange)="selectedUbicacion($event)" />
  <ul>
    <li *ngFor="let item of itemsUbicacion">{{item.text}}</li>
  </ul>

</div>
